
.box {
  text-align: center;
  min-width: 300px;
  &.home {
    background-color: $element-color-sec;
    padding: 25px 0 0 0;
  }
}

#introduction {
  background-color: $about-color-background;
  margin-top: 0;
  padding: 40px;
  padding-bottom: 110px;
  width: auto;
  background-image: url("icons/green1.png"), url("icons/green2.png");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  h1 {
    margin-top: 65px;
  }
  div {
    padding: 0;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1800px){
  #introduction {
    padding: 70px;
    padding-bottom: 140px;
    background-size: 300px;
  }
}

@media only screen and (max-width: 870px){
  #introduction {
    background-size: 140px, 180px;
  }
}

@media only screen and (max-width: 580px){
  #introduction {
      background-image: url("icons/green2-white.png"), url("icons/green1-white.png");
      background-size: 180px, 180px;
  }
  h1 {
    color: black;
  }
}

nav.home{
  font-family: $h-font-family;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  font-size: $nav-font-size;
  display: inline-block;
  a {
    text-decoration: none;
    margin: 16px;
    color: $element-color-primary;

    &:hover {
      color: white;
    }
  }
  hr {
    border: 0;
    height: 1px;
    background: $element-color-sec;
    margin-top: 20px;
  }
}

hr {
  border: 0;
  height: 1px;
  background: $element-color-sec;
  margin-top: 20px;
}

@media only screen and (max-width: 380px){
  nav.home{
    a {
      margin: 8px;
    }
  }
  h1{
    font-size: 95%;
  }
}
