
.box {
  text-align: center;
  min-width: 300px;
  &.home {
    background-color: $element-color-sec;
    padding: 25px 0 0 0;
  }
}

#introduction {
  background-color: $about-color-background;
  margin-top: 0;
  padding: 30px;
  padding-bottom: 100px;
  width: auto;
  h1 {
    margin-top: 65px;
  }
  div {
    padding: 0;
    margin-top: 0;
  }
}


nav.home{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  font-size: $nav-font-size;
  display: inline-block;
  a {
    text-decoration: none;
    margin: 16px;
    color: $element-color-primary;

    &:hover {
      color: white;
    }
  }
  hr {
    border: 0;
    height: 1px;
    background: $element-color-sec;
    margin-top: 20px;
  }
}

hr {
  border: 0;
  height: 1px;
  background: $element-color-sec;
  margin-top: 20px;
}

@media only screen and (max-width: 380px){
  nav.home{
    a {
      margin: 8px;
    }
  }
  h1{
    font-size: 95%;
  }
}
