
.box {
  text-align: center;
  min-width: 300px;
  &.home {
    background-color: transparent;
    //padding: 25px 0 0 0;
  }
}

#introduction {
  background-color: transparent;
  margin-top: 0;
  width: auto;
  //background-image: url("icons/green1.png"), url("icons/green2.png");
  background-image: url("img/leaves3.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top;
  h1 {
    margin-top: 65px;
  }
  div {
    padding: 30px;
  }
  &:hover {
  }
}

nav.home{
  font-family: $h-font-family;
  letter-spacing: 0.25px;
  font-size: $nav-font-size;
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  font-weight: $p-font-wight-regular;
  transition: 0.5s;
  &:hover {
    background-color: rgba(255,255,255,0);
    transition: 0.5s;
  }
  div.top-links{
    margin: 0;
    width: auto;
    background: rgba(255, 255, 255, 1);
    padding: 0;
    margin-bottom: 157px;
    text-align: right;
    a {
      text-decoration: none;
      margin: 30px 40px;
      color: $p-text-color;
      &:hover {
        color: #559d86;
      }
    }
    a#me{
      text-transform: uppercase;
      letter-spacing: 3px;
      float:left;
      margin:auto;
      font-size: 19px;
      span {
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
  hr {
    border: 0;
    height: 1px;
    background: $element-color-sec;
    margin-top: 20px;
  }
}
nav.home > div:nth-child(4){
  margin-bottom:170px;
}

hr {
  border: 0;
  height: 1px;
  background: $element-color-sec;
  margin-top: 20px;
}

@media only screen and (max-width: 380px){
  nav.home{
    a {
      margin: 8px;
    }
  }
  h1{
    font-size: 95%;
  }
}
