@import "../_variables.scss";

@media only screen and (max-width: 950px){

  .grid.design{
    text-align: center;
  }

  .design {
    display: grid;
    grid-template-columns: auto 400px auto;
    grid-template-areas:
       "... design1 ..."
       "... design2 ..."
       "... design3 ..."
  }

  .implem {
    display: grid;
    grid-template-columns: auto 400px auto;
    grid-template-areas:
    "... implem1 ..."
    "... implem2 ..."
    "... implem3 ..."
  }

  .design1, .design2, .design3, .image, .implem1, .implem2, .implem3, .descr1, .descr2, .descr3 {
    width: 400px;
  }

  .implem1, .implem2, .implem3 {
    margin-bottom: 20px;
  }

  .image {
    margin: 0;
    cursor: pointer;
  }
  .design1, .design2, .design3 {
    margin-bottom: 20px;
  }

}

@media only screen and (min-width: 950px){
  .design{
    display: grid;
    grid-template-columns: auto 290px 290px 290px auto;
    grid-template-areas:
       "... design1 design2 design3 ..."
  }

  .implem{
    display: grid;
    grid-template-columns: auto 290px 290px 290px auto;
    margin-bottom: 50px;
    grid-template-areas:
       "... implem1 implem2 implem3 ..."
  }

  .image {
    width: 260px;
    height: 190px;
    cursor: pointer;
  }

  .design1, .design2, .design3{
    width: 260px;
    height: 230px;
    margin: 10px;
    margin-bottom: 20px;
  }

  .descr1, .descr2, .descr3 {
    width: 260px;
  }

  .implem1, .implem2, .implem3{
    width: 280px;
    margin-top: 0;
    margin-left: 10px;
  }
}

.design1, .design2, .design3{
  box-shadow: 0 6px 6px 0 #EBEBEB;
}

.implem1, .implem2, .implem3{
  box-shadow: 0 6px 6px 0 #EBEBEB;
}


.descr1, .descr2, .descr3 {
  padding: 12px 20px 25px 20px;
  box-sizing: border-box;
  height: auto;
}


.design1 {
  grid-area: design1;
}

.design2 {
  grid-area: design2;
}

.design3 {
  grid-area: design3;
}

.implem1 {
  grid-area: implem1;
}

.implem2 {
  grid-area: implem2;
}

.implem3 {
  grid-area: implem3;
}

.descr1 {
  grid-area: descr1;
}

.descr2 {
  grid-area: descr2;
}

.descr3 {
  grid-area: descr3;
}
