@import "../_variables.scss";

.lsaquo {
  font-size: 150%;
}


.portfolio {
  background-color: $element-color-sec;
  margin-top: 0;
  padding: 28px;
  width: auto;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  font-size: $nav-font-size;
  a {
    text-decoration: none;
    margin: 16px;
    color: $element-color-primary;

    &:hover {
      color: white;
    }
  }

}

.project-info {
  background-color: $about-color-background;

  #project {
    text-align: center;
    padding-bottom: 60px;
  }
}

.medium {
  &.section {
    padding: 10px;
  }
}

@media only screen and (min-width: 800px){
  .articles {
    margin: 0 200px;
  }
}
