@import "../_variables.scss";

.lsaquo {
  font-size: 150%;
}

span.red {
  color: hsl(6, 94%, 39%);
  font-family: $h-font-family;
}

span.green {
  color: $element-color-primary;
  font-family: $h-font-family;
}

.powrot {
  background-color: rgba(0,0,0,0.4);
  margin-top: 0;
  margin-bottom: 150px;
  padding: 28px;
  width: auto;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  font-size: $nav-font-size;
  text-align: left;
  a {
    text-decoration: none;
    margin: 16px;
    color: white;
    letter-spacing:2px;
    &:hover {
      color: white;
    }
  }

}

h4.proj-header{
  margin: 50px 10px -10px 10px;
  color: $p-text-color;
  font-size: 28px;
}

.project-info {
  //background-color: $about-color-background;
  //background-image: url("icons/green2.png"),  url("icons/green2-left.png");
  background-repeat: no-repeat;
  background-position: right bottom, left bottom;
  background-size: 150px, 150px;
  text-align: center;
  padding: 0 0 130px 0;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

#lapka {
  background-image: url("img/cats.jpg");
}
#chess {
  background-image: url("img/chess.jpg");
}
#sdd {
  background-image: url("img/books.jpg");
  background-position: top;
}

.medium {
  &.section {
    padding: 0 10px;
    //font-size: $p-font-size-medium;
  }
}

img.diagram {
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding: 20px 0 20px 10px;

  &.small {
    width: 70%;
    text-align: center;
  }
}

.articles {
  background-color: hsl(0, 0%, 97%);
  padding: 25px;
}

.sections {
  display:table;
  margin:auto;
  background-color: white;
  padding: 20px 100px 50px 100px;
  box-shadow: 0 0 4px 0 #d9d9d9, 0 0 4px 0 #d9d9d9;
}

@media only screen and (max-width: 800px){
  .sections {
    padding: 10px 50px 10px 50px;
  }
  .articles {
    padding:10px;
  }
}
//
// @media only screen and (min-width: 1800px){
//   .articles {
//     margin: 0 550px;
//   }
// }
//
//
// @media only screen and (min-width: 1300px) and (max-width: 1800px){
//   .articles {
//     margin: 0 300px;
//   }
// }
//
// @media only screen and (min-width: 1100px) and (max-width: 1300px){
//   .articles {
//     margin: 0 250px;
//   }
// }
//
// @media only screen and (min-width: 900px) and (max-width: 1100px){
//   .articles {
//     margin: 0 200px;
//   }
// }
//
// @media only screen and (min-width: 600px) and (max-width: 900px){
//   .articles {
//     margin: 0 100px;
//   }
// }
