@import "../_variables.scss";

.ux{
  margin-bottom:50px;
}
@media only screen and (max-width: 800px){
  .ux {
    display: grid;
    padding: 10px;
    grid-template-columns: auto 33% 65% auto;
    grid-template-areas:
    "... ux1 content1 ..."
    "... ux2 content2 ..."
    "... ux3 content3 ..."
    "... ux4 content4 ..."
    "... ux5 content5 ..."
    "... ux6 content6 ..."
  }

  .icon {
    width: 110px;
    height: 110px;
    margin: 10px;
  }

  .view {
    width: 100%;
  }
}

@media only screen and (min-width: 800px){
  .ux {
    display: grid;
    grid-template-columns: auto 280px 590px auto;
    grid-template-areas:
    "... ux1 content1 ..."
    "... ux2 content2 ..."
    "... ux3 content3 ..."
    "... ux4 content4 ..."
    "... ux5 content5 ..."
    "... ux6 content6 ..."
  }

  .icon {
    width: 150px;
    height: 150px;
  }


}

.view {
  box-shadow: 0 2px 6px 0 #EBEBEB;
}

.icon {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 #EBEBEB;
}

img.arrow {
  grid-area: arrow;
  width: 20px;
}

.ux1-content, .ux2-content,  .ux3-content,  .ux4-content,  .ux5-content,  .ux6-content{
  height: 160px;
}

 .ux1-content {
   grid-area: content1;
 }

 .ux2-content {
   grid-area: content2;
 }
 .ux3-content {
   grid-area: content3;
 }
 .ux4-content {
   grid-area: content4;
 }
 .ux5-content {
   grid-area: content5;
 }
 .ux6-content {
   grid-area: content6;
 }

.ux1{
  grid-area: ux1;
}

.ux2{
  grid-area: ux2;
}

.ux3{
  grid-area: ux3;
}

.ux4{
  grid-area: ux4;
}

.ux5{
  grid-area: ux5;
}

.ux6{
  grid-area: ux6;
}
