body {
  margin: 0;
  font-family: "Raleway", sans-serif; }

h1 {
  font-size: 18px;
  font-weight: lighter;
  margin-top: 90px;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
  color: #333333; }

h2 {
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 20px; }
  h2 span {
    text-shadow: 1px 0 black;
    font-weight: bold; }

h3 {
  color: #1eaebe;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: center;
  margin: 50px 0 30px 0; }

h4 {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-weight: bold; }

h5 {
  text-align: left;
  margin: 0;
  font-size: 14px; }

#h3-about {
  margin-bottom: 40px;
  margin-top: 60px; }

button {
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: #EBEBEB;
  padding: 8px 15px 7px 15px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  cursor: pointer; }
  button.primary {
    color: #1eaebe;
    border: 2px solid #1eaebe; }
    button.primary:hover {
      color: white;
      background-color: #1eaebe; }
  button.center {
    vertical-align: middle; }

.uppercase {
  text-transform: uppercase; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-align: left;
  color: #444;
  font-weight: lighter;
  letter-spacing: 0.1px;
  line-height: 140%; }

p.hidden {
  font-size: 0; }

p.larger {
  font-size: 12px; }

@media only screen and (max-width: 350px) {
  nav.home a {
    margin: 8px; }

  h1 {
    font-size: 95%; } }
.grid {
  text-align: center;
  background-color: white;
  color: #444; }

.box {
  text-align: center;
  min-width: 300px; }
  .box.home {
    background-color: #EBEBEB;
    padding: 30px 10px 100px 10px; }

nav.home {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.25px;
  text-align: center;
  text-transform: uppercase;
  font-size: 70%;
  display: inline-block; }
  nav.home a {
    text-decoration: none;
    margin: 16px;
    color: #333333; }
    nav.home a:hover {
      color: #1eaebe; }
  nav.home hr {
    border: 0;
    height: 1px;
    background: #BDBDBD;
    margin-top: 20px; }

@media only screen and (max-width: 380px) {
  nav.home a {
    margin: 8px; }

  h1 {
    font-size: 95%; } }
.grid {
  text-align: center;
  background-color: white;
  color: #444; }

.about {
  display: grid;
  grid-gap: 5px;
  padding: 0 20px 10px 20px;
  grid-template-areas: "header" "avatar" "text1" "text2"; }

@media only screen and (min-width: 650px) {
  .about {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto 200px 200px 200px auto;
    grid-template-areas: "... header header header ..." "... avatar text1 text1 ..." "... ...    text2 text2 ..."; }

  .avatar {
    grid-area: avatar;
    margin-top: 5px; } }
.who-i-am, .what-i-do {
  text-align: left; }

.who-i-am {
  grid-area: text1; }

.what-i-do {
  grid-area: text2;
  margin-top: 10px; }

.header {
  grid-area: header; }

.avatar {
  grid-area: avatar;
  margin-bottom: 10px;
  display: inline-block;
  margin: 0 auto;
  border-radius: 50%; }

@media only screen and (max-width: 750px) {
  .grid.design {
    text-align: center; }

  .design {
    display: grid;
    grid-template-columns: auto 300px auto;
    grid-template-areas: "... design1 ..." "... design2 ..." "... design3 ..."; }

  .implem {
    display: grid;
    grid-template-columns: auto 300px auto;
    grid-template-areas: "... implem1 ..." "... implem2 ..." "... implem3 ..."; }

  .design1, .design2, .design3, .image, .implem1, .implem2, .implem3, .descr1, .descr2, .descr3 {
    width: 300px; }

  .implem1, .implem2, .implem3 {
    margin-bottom: 20px; }

  .image {
    margin: 0;
    cursor: pointer; } }
@media only screen and (min-width: 750px) {
  .design {
    display: grid;
    grid-template-columns: auto 250px 250px 250px auto;
    grid-template-areas: "... design1 design2 design3 ..."; }

  .implem {
    display: grid;
    grid-template-columns: auto 250px 250px 250px auto;
    grid-template-areas: "... implem1 implem2 implem3 ..."; }

  .image {
    width: 220px;
    height: 160px;
    cursor: pointer; }

  .design1, .design2, .design3 {
    width: 220px;
    height: 160px;
    margin-bottom: 20px; }

  .descr1, .descr2, .descr3 {
    width: 220px; }

  .implem1, .implem2, .implem3 {
    width: 220px;
    margin: 0 10px;
    margin-top: 0; } }
.design1, .design2, .design3 {
  box-shadow: 0 2px 6px 0 #EBEBEB;
  margin: 10px 0; }

.implem1, .implem2, .implem3 {
  box-shadow: 0 2px 6px 0 #EBEBEB; }

.descr1, .descr2, .descr3 {
  padding: 10px 12px;
  box-sizing: border-box;
  height: auto; }

.design1 {
  grid-area: design1; }

.design2 {
  grid-area: design2; }

.design3 {
  grid-area: design3; }

.implem1 {
  grid-area: implem1; }

.implem2 {
  grid-area: implem2; }

.implem3 {
  grid-area: implem3; }

.descr1 {
  grid-area: descr1; }

.descr2 {
  grid-area: descr2; }

.descr3 {
  grid-area: descr3; }

@media only screen and (max-width: 580px) {
  .ux {
    display: grid;
    padding: 10px;
    grid-template-columns: auto 33% 33% 33% auto;
    grid-template-areas: "... ux1 ux2 ux3 ..." "... content content content ..." "... ux4 ux5 ux6 ..."; }

  .icon {
    width: 100px;
    height: 100px;
    margin: 10px; }

  .view {
    width: 100%; } }
@media only screen and (min-width: 580px) {
  .ux {
    display: grid;
    grid-template-columns: auto 200px 200px 200px auto;
    grid-template-areas: "... ux1 ux2 ux3 ..." "... content content content ..." "... ux4 ux5 ux6 ..."; }

  .icon {
    width: 130px;
    height: 130px; }

  .view {
    width: 550px;
    height: 400px;
    margin: 20px 0; } }
.icon {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 #EBEBEB; }

.ux-content {
  grid-area: content;
  margin: 10px; }

.ux1 {
  grid-area: ux1; }

.ux2 {
  grid-area: ux2; }

.ux3 {
  grid-area: ux3; }

.ux4 {
  grid-area: ux4; }

.ux5 {
  grid-area: ux5; }

.ux6 {
  grid-area: ux6; }

/*# sourceMappingURL=styles.css.map */
