body {
  margin: 0;
  font-family: "Lora", serif; }

h1 {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 90px;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
  color: #333333;
  font-family: "Open Sans", sans-serif; }

h2 {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-top: 0;
  margin-bottom: 20px; }
  h2 span {
    font-weight: 700; }

h3 {
  color: #608a42;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 22px;
  text-align: center;
  margin: 50px 0 30px 0;
  margin-bottom: 50px; }

h4 {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: -13px;
  text-align: left;
  font-size: 20px;
  letter-spacing: 90%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }

h5 {
  text-align: left;
  margin: 0;
  font-size: 20px;
  font-family: "Open Sans", sans-serif; }

#h3-about {
  margin-bottom: 40px;
  margin-top: 60px; }

.some-link:hover {
  color: #FF8A8A; }

a {
  color: #608a42; }

div.button a {
  text-decoration: none;
  border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
  background-color: #f2f3f2;
  padding: 7px 20px 7px 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  cursor: pointer; }
  div.button a.primary {
    color: #608a42;
    border: 3px solid #608a42; }
    div.button a.primary:hover {
      color: white;
      background-color: #608a42; }
  div.button a.secondary {
    font-size: 14px;
    padding: 5px 30px;
    color: white;
    background-color: #a5bd4d; }
    div.button a.secondary:hover {
      color: white;
      background-color: #FF8A8A; }

.pink {
  color: #E27373; }

.uppercase {
  text-transform: uppercase; }

p, ol, ul {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  color: #444;
  line-height: 140%; }

p.hidden {
  font-size: 0; }

p.medium, ol.medium, ul.medium {
  font-size: 14px; }
  p.medium span.bold, ol.medium span.bold, ul.medium span.bold {
    font-weight: bold; }

footer {
  background-color: #f2f3f2;
  margin-top: 50px;
  padding: 15px 0 0 0; }
  footer p {
    margin-bottom: 35px;
    font-size: 20px; }
      footer p a:hover {
        color: #FF8A8A; }
  footer p, footer a {
    font-family: "Open Sans", sans-serif;
    text-align: center;}
  footer div {
    background-color: #608a42; }
    footer div #sign {
      color: white;
      margin: 15px 0 0 0;
      padding: 12px;
      font-size: 16px; }

@media only screen and (min-width: 1200px) {
  p.medium, ol.medium, ul.medium {
    font-size: 16px; }

  h4 {
    font-size: 24px; } }
.grid {
  text-align: center;
  background-color: white;
  color: #444; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-height: 80%;
  max-height: 700px;
  margin-bottom: 10px; }

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px; }

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.7s;
  animation-name: zoom;
  animation-duration: 0.7s; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0.75); }
  to {
    -webkit-transform: scale(1); } }
@keyframes zoom {
  from {
    transform: scale(0.75); }
  to {
    transform: scale(1); } }
/* The Close Button */
.close {
  position: fixed;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }
  .close:hover, .close:focus {
    color: #608a42;
    text-decoration: none;
    cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 600px) {
  .modal-content {
    max-width: 100%; } }
@media only screen and (min-width: 600px) {
  .modal-content {
    max-width: 80%; } }
.box {
  text-align: center;
  min-width: 300px; }
  .box.home {
    background-color: #bed590;
    padding: 25px 0 0 0; }

#introduction {
  background-color: #f2f3f2;
  margin-top: 0;
  padding: 40px;
  padding-bottom: 110px;
  width: auto;
  background-image: url("icons/green1.png"), url("icons/green2.png");
  background-repeat: no-repeat;
  background-position: left top, right bottom; }
  #introduction h1 {
    margin-top: 65px; }
  #introduction div {
    padding: 0;
    margin-top: 0; }

@media only screen and (min-width: 1800px) {
  #introduction {
    padding: 70px;
    padding-bottom: 140px;
    background-size: 300px; } }
@media only screen and (max-width: 870px) {
  #introduction {
    background-size: 140px, 180px; } }
@media only screen and (max-width: 580px) {
  #introduction {
    background-image: url("icons/green2-white.png"), url("icons/green1-white.png");
    background-size: 180px, 180px; }

  h1 {
    color: black; } }
nav.home {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block; }
  nav.home a {
    text-decoration: none;
    margin: 16px;
    color: #608a42; }
    nav.home a:hover {
      color: white; }
  nav.home hr {
    border: 0;
    height: 1px;
    background: #bed590;
    margin-top: 20px; }

hr {
  border: 0;
  height: 1px;
  background: #bed590;
  margin-top: 20px; }

@media only screen and (max-width: 380px) {
  nav.home a {
    margin: 8px; }

  h1 {
    font-size: 95%; } }
.grid {
  text-align: center;
  background-color: white;
  color: #444; }

.about {
  display: grid;
  grid-gap: 5px;
  padding: 0 20px 10px 20px;
  grid-template-areas: "header" "avatar" "text1" "text2"; }

@media only screen and (min-width: 790px) {
  .about {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto 240px 240px 240px auto;
    grid-template-areas: "... header header header ..." "... avatar text1 text1 ..." "... ...    text1 text1 ..."; }

  .avatar {
    grid-area: avatar;
    margin-top: 5px; } }
@media only screen and (min-width: 1200px) {
  .about {
    grid-template-columns: auto 270px 270px 270px auto; } }
.who-i-am, .what-i-do {
  text-align: left; }

.who-i-am {
  grid-area: text1; }

.what-i-do {
  grid-area: text2;
  margin-top: 10px; }

.header {
  grid-area: header; }

.avatar {
  grid-area: avatar;
  margin-bottom: 10px;
  display: inline-block;
  margin: 0 auto;
  border-radius: 50%; }

@media only screen and (max-width: 950px) {
  .grid.design {
    text-align: center; }

  .design {
    display: grid;
    grid-template-columns: auto 400px auto;
    grid-template-areas: "... design1 ..." "... design2 ..." "... design3 ..."; }

  .implem {
    display: grid;
    grid-template-columns: auto 400px auto;
    grid-template-areas: "... implem1 ..." "... implem2 ..." "... implem3 ..."; }

  .design1, .design2, .design3, .image, .implem1, .implem2, .implem3, .descr1, .descr2, .descr3 {
    width: 400px; }

  .implem1, .implem2, .implem3 {
    margin-bottom: 20px; }

  .image {
    margin: 0;
    cursor: pointer; }

  .design1, .design2, .design3 {
    margin-bottom: 20px; } }
@media only screen and (min-width: 950px) {
  .design {
    display: grid;
    grid-template-columns: auto 290px 290px 290px auto;
    grid-template-areas: "... design1 design2 design3 ..."; }

  .implem {
    display: grid;
    grid-template-columns: auto 290px 290px 290px auto;
    margin-bottom: 50px;
    grid-template-areas: "... implem1 implem2 implem3 ..."; }

  .image {
    width: 260px;
    height: 190px;
    cursor: pointer; }

  .design1, .design2, .design3 {
    width: 260px;
    height: 230px;
    margin: 10px;
    margin-bottom: 20px; }

  .descr1, .descr2, .descr3 {
    width: 260px; }

  .implem1, .implem2, .implem3 {
    width: 280px;
    margin-top: 0;
    margin-left: 10px; } }
.design1, .design2, .design3 {
  box-shadow: 0 6px 6px 0 #EBEBEB; }

.implem1, .implem2, .implem3 {
  box-shadow: 0 6px 6px 0 #EBEBEB; }

.descr1, .descr2, .descr3 {
  padding: 12px 20px 25px 20px;
  box-sizing: border-box;
  height: auto; }

.design1 {
  grid-area: design1; }

.design2 {
  grid-area: design2; }

.design3 {
  grid-area: design3; }

.implem1 {
  grid-area: implem1; }

.implem2 {
  grid-area: implem2; }

.implem3 {
  grid-area: implem3; }

.descr1 {
  grid-area: descr1; }

.descr2 {
  grid-area: descr2; }

.descr3 {
  grid-area: descr3; }

@media only screen and (max-width: 800px) {
  .ux {
    display: grid;
    padding: 10px;
    grid-template-columns: auto 33% 33% 33% auto;
    grid-template-areas: "... ux1 ux2 ux3 ..." "... content content content ..." "... ux4 ux5 ux6 ..."; }

  .icon {
    width: 120px;
    height: 120px;
    margin: 10px; }

  .view {
    width: 100%; } }
@media only screen and (min-width: 800px) {
  .ux {
    display: grid;
    grid-template-columns: auto 230px 230px 230px auto;
    grid-template-areas: "... ux1 ux2 ux3 ..." "... content content content ..." "... ux4 ux5 ux6 ..."; }

  .icon {
    width: 180px;
    height: 180px; }

  .view {
    width: 630px;
    height: 350px;
    margin: 20px 0; } }
.view {
  box-shadow: 0 2px 6px 0 #EBEBEB; }

.icon {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 #EBEBEB; }

img.arrow {
  grid-area: arrow;
  width: 20px; }

.ux-content {
  grid-area: content;
  margin: 10px; }

.ux1 {
  grid-area: ux1; }

.ux2 {
  grid-area: ux2; }

.ux3 {
  grid-area: ux3; }

.ux4 {
  grid-area: ux4; }

.ux5 {
  grid-area: ux5; }

.ux6 {
  grid-area: ux6; }

.lsaquo {
  font-size: 150%; }

span.red {
  color: #c11906;
  font-family: "Open Sans", sans-serif; }

span.green {
  color: #608a42;
  font-family: "Open Sans", sans-serif; }

.portfolio {
  background-color: #bed590;
  margin-top: 0;
  padding: 28px;
  width: auto;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  font-size: 14px; }
  .portfolio a {
    text-decoration: none;
    margin: 16px;
    color: #608a42; }
    .portfolio a:hover {
      color: white; }

h4.proj-header {
  margin: 50px 10px -10px 10px;
  color: #444;
  font-size: 28px; }

.project-info {
  background-color: #f2f3f2;
  background-image: url("icons/green2.png"), url("icons/green2-left.png");
  background-repeat: no-repeat;
  background-position: right bottom, left bottom;
  background-size: 150px, 150px; }
  .project-info #project {
    text-align: center;
    padding-bottom: 60px; }

.medium.section {
  padding: 0 10px;
  font-size: 16px; }

img.diagram {
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding: 20px 0 20px 10px; }
  img.diagram.small {
    width: 70%;
    text-align: center; }

@media only screen and (min-width: 1500px) {
  .articles {
    margin: 0 450px; } }
@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .articles {
    margin: 0 300px; } }
@media only screen and (min-width: 1100px) and (max-width: 1300px) {
  .articles {
    margin: 0 250px; } }
@media only screen and (min-width: 900px) and (max-width: 1100px) {
  .articles {
    margin: 0 200px; } }
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .articles {
    margin: 0 100px; } }

/*# sourceMappingURL=styles.css.map */
