@import "_variables.scss";

body {
  margin: 0;
  font-family: $raleway;
}

h1 {
  font-size: 18px;
  font-weight: lighter;
  margin-top: 90px;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
  color: $about-color-text;
}

h2 {
  font-family: $lato;
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 20px;
  span{
    text-shadow: 1px 0 black;
    font-weight: bold;
  }
}

h3 {
  color: $element-color-primary;
  font-family: $lato;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: $h3-font-size-large;
  text-align: center;
  margin: 50px 0 30px 0;
}

h4{
  margin: 0px;
  margin-top: 5px;
  font-family: $roboto;
  text-align: left;
  font-weight: bold;
  font-size: $h4-font-size;
}


h5 {
  text-align: left;
  margin: 0;
  font-size: $h5-font-size;
}

#h3-about {
  margin-bottom: 40px;
  margin-top: 60px;
}

footer {
  background-color: $about-color-background;
  margin-top: 50px;
  padding: 15px 0 0 0;
  p {
    font-size: $h4-font-size;
    a {
      font-size: $p-font-size-large;
    }
  }
  p, a {
      font-style: $roboto;
      text-align: center;
      vertical-align: middle;
      margin: 5px;
  }

  div {
    background-color: $element-color-primary;
    #sign {
      color: white;
      margin: 15px 0 0 0;
      padding: 12px;
      font-size: $p-font-size-large;
    }
  }
}


a {
  color: $element-color-primary;
}

div.button {
  a{
    text-decoration: none;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    background-color: $about-color-background;
    padding: 8px 15px 7px 15px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;

    &.primary {
      color: $element-color-primary;
      border: 2px solid $element-color-primary;

      &:hover {
        color: white;
        background-color: $element-color-primary;
      }
    }

    &.secondary {
      font-size: 10px;
      padding: 5px 30px;
      color: white;
      background-color: rgb(165, 189, 77);

      &:hover {
        color: white;
        background-color: $element-color-sec;
      }
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: $p-font-size-medium;
  text-align: left;
  color: $p-text-color;
  font-weight: lighter;
  letter-spacing: 0.1px;
  line-height: 145%;
}

p.hidden {
  font-size: 0;
}

p.medium {
  font-size: $p-font-size-medium;

  span.bold {
    font-weight: bold;
    letter-spacing: 0.25px;
  }
}

@media only screen and (min-width: 1200px){
  p.medium {
    font-size: $p-font-size-large;
  }
  h4 {
    font-size: $h4-font-size-large;
  }
}


.grid{
  text-align: center;
  background-color:  white;
  color: $black-text-color;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    max-height: 80%;
    max-height: 700px;
    margin-bottom: 10px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.7s;
    animation-name: zoom;
    animation-duration: 0.7s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0.75)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0.75)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: fixed;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;

    &:hover, &:focus {
      color: $element-color-primary;
      text-decoration: none;
      cursor: pointer;
    }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 600px){
    .modal-content {
        max-width: 100%;
    }
}

@media only screen and (min-width: 600px){
    .modal-content {
        max-width: 80%;
    }
}
