@import "_variables.scss";

body {
  margin: 0;
  font-family: $p-font-family;
  width: 100%;
}

h1 {
  font-size: 22px;
  font-weight: $p-font-wight-regular;
  margin-bottom: 15px;
  letter-spacing: 2px;
  color: $about-color-text;
  font-family: $h-font-family;
  text-shadow: 0 0 10px black;
}

h2 {
  font-family: $lato;
  color: $about-color-text;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  span{
    font-weight: 700;
  }
  text-shadow: 0 0 10px black;
}

h3 {
  color: $element-color-primary;
  font-family: $h-font-family;
  letter-spacing: 4px;
  font-size: $h3-font-size-large;
  font-weight: $h-font-wight;
  text-align: center;
  margin: 50px 0 30px 0;
  margin-bottom: 50px;
}

h4{
  margin: 0px;
  margin-top: 5px;
  margin-bottom: -5px;
  text-align: left;
  font-size: $h4-font-size-large;
  font-family: $h-font-family;
  font-weight: $h-font-wight;
}


h5 {
  text-align: left;
  margin: 0;
  font-size: $h5-font-size;
  font-family: $h-font-family;
}

#h3-about {
  margin-bottom: 40px;
  margin-top: 60px;
}

section.chapter {
  max-width: 740px;
}

.some-link {
  &:hover{
    color: $element-color-other;
  }
}

a {
  color: $element-color-primary;
}

div.button {
  a{
    text-decoration: none;
    border-radius: 18px;
    font-size: $p-font-size-medium;
    font-weight: bold;
    color: white;
    background-color: rgba(255,255,255,0.4);
    padding:15px 35px;
    font-family: $h-font-family;
    letter-spacing: 1.5px;
    cursor: pointer;
    letter-spacing:1px;
    text-shadow: 0 0 10px black;
    box-shadow: 0 0 15px black;
    &.primary {
      //color: $element-color-primary;
      &:hover {
        box-shadow: none;
        transition: 0.2s;
        background-color: $button-color;
        text-shadow: none;
      }
    }

    &.secondary {
      font-weight: 400;
      font-size: $p-font-size-medium;
      padding: 5px 30px;
      color: white;
      background-color: #559d86;
      box-shadow: none;
      text-shadow: none;

      &:hover {
        color: white;
        background-color: #6eb356;
      }
    }
    @media  only screen and (max-device-width: 700px){
      &.secondary {
        padding: 5px 100px;
      }
    }
  }
}



.pink {
  color: #E27373;
}

.uppercase {
  text-transform: uppercase;
}

p, ol, ul{
  font-family: $p-font-family;
  font-weight: $p-font-wight;
  font-size: 16px;
  text-align: left;
  color: $p-text-color;
  line-height: 150%;
}

p.hidden {
  font-size: 0;
}

p.medium, ol.medium, ul.medium {
  font-size: $p-font-size-medium;

  span.bold {
    font-weight: bold;
  }
}

p.large {
  font-size: $p-font-size-large;
}


footer {
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top;
  background-color: #2e7344;
  padding: 15px 0 0 0;
  //background-image: url("img/leaves3.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  p {
    font-size: $p-font-size-medium;
    color: white;
    a {
      color: white;
      padding-bottom: 5px;
      &:hover{
      }
    }
  }
  p, a {
      font-family: $h-font-family;
      text-align: center;
      vertical-align: middle;
      margin: 5px;
  }

  div {
    background-color: rgba(0,0,0,0.5);
    #sign {
      color: white;
      margin: 15px 0 0 0;
      padding: 12px;
      font-size: $p-font-size-large;
      font-weight: $p-font-wight-regular;
    }
  }
}

.medium.project-name {
  font-size: 130%;
  font-weight: bold;
  margin: 0;
}

@media only screen and (max-device-width: 800px){
  .medium.project-name {
    font-size: 250%;
  }
}

.grid{
  text-align: center;
  background-color:  white;
  color: $black-text-color;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    max-height: 80%;
    max-height: 700px;
    margin-bottom: 10px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.7s;
    animation-name: zoom;
    animation-duration: 0.7s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0.75)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0.75)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: fixed;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;

    &:hover, &:focus {
      color: $element-color-primary;
      text-decoration: none;
      cursor: pointer;
    }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 600px){
    .modal-content {
        max-width: 100%;
    }
}

@media only screen and (min-width: 600px){
    .modal-content {
        max-width: 80%;
    }
}
