//Kolory
$element-color-primary: hsl(186, 73%, 43%);

$about-color-background: #EBEBEB;
$about-color-text: #333333;

$black-text-color: #444;
$p-text-color: #444;

//czcionki
$p-font-size: 11px;
$p-font-size-larger: 12px;
$h3-font-size: 16px;
$h5-font-size: 14px;
$descr-font-size: 10px;

$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;
