//Kolory
$element-color-primary: hsl(186, 73%, 43%);
$element-color-primary: hsl(95, 35%, 40%);

$element-color-sec: hsl(80, 45%, 70%);
$element-color-third: rgb(165, 189, 77);

$about-color-background: #EBEBEB;
$about-color-background: hsl(95, 5%, 95%);
$about-color-text: #333333;

$black-text-color: #444;
$p-text-color: #444;

//czcionki
$nav-font-size: 12px;
$nav-font-size-large: 24px;
$p-font-size: 11px;
$p-font-size-medium: 13px;
$p-font-size-large: 16px;
$h3-font-size: 16px;
$h3-font-size-large: 18px;
$h4-font-size: 16px;
$h4-font-size-large: 18px;
$h5-font-size: 14px;
$descr-font-size: 10px;

$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;
$lato: "Lato", sans-serif;
