//Kolory
$element-color-primary: hsl(186, 73%, 43%);

$about-color-background: #EBEBEB;
$about-color-text: #333333;

$black-text-color: #444;
$p-text-color: #444;

//czcionki
$p-text-size: 12px;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;
