@import "../_variables.scss";

.grid{
  text-align: center;
  background-color:  white;
  color: $black-text-color;

}

.about {
  display: grid;
  grid-gap: 5px;
  padding: 0 20px 10px 20px;
  grid-template-areas:
     "header"
     "avatar"
     "text1"
     "text2"
}

@media only screen and (min-width: 790px){
  .about {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto 250px 250px 250px auto;
    grid-template-areas:
       "... header header header ..."
       "... avatar text1 text1 ..."
       "... ...    text1 text1 ..."
  }
  .avatar {
    grid-area: avatar;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 1200px){
  .about {
    grid-template-columns: auto 300px 300px 300px auto;
  }

}

.who-i-am, .what-i-do {
  text-align: left;
}


.who-i-am {
  grid-area: text1;
}

.what-i-do {
  grid-area: text2;
  margin-top: 10px;
}

.header {
  grid-area: header;
}

.avatar {
  grid-area: avatar;
  margin-bottom: 10px;
  display: inline-block;
  margin: 0 auto;
  border-radius: 50%;
}
